<!-- ejemplo de uso detach
Clase base que proporciona funcionalidad de detección de cambios. Un árbol de detección de cambios recopila todas las vistas que se van a comprobar en busca de cambios. Utilice los métodos para agregar y quitar vistas del árbol, iniciar la detección de cambios y marcar explícitamente las vistas como sucias, lo que significa que han cambiado y deben volver a procesarse.
-->
<div>
    <h1>Ejemplo de DETACH y DETECTCHANGES</h1>
    <h3>El componente detecta y actualiza los cambios cada 3 segundos</h3>
    <div>
        <h3>Nombre aleatorios:</h3>
        <li *ngFor="let item of dataListProvider.data">
            {{item}}

        </li>
    </div>
</div>
