<h1>Tus contactos:</h1>
<div *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
<ng-container
  *ngIf="filtroSexo == 'female' || filtroSexo == 'male'; else elseTemplate"
>
  <p>Mostrando lista: "{{ filtroSexo }}"</p>
</ng-container>
<!-- Listar los contactos y poder navegar click en contacto -->
<div class="grid-container">
  <div
    *ngFor="let item of listaRandomContacts; let i = index"
    class="box-contact"
  >
    <div
      routerLink="{{ item.id.name }}"
      [state]="{ data: item, filtro: filtroSexo }"
      class="grid-item"
    >
      <h3>{{ item.name.first }} {{ item.name.last }}</h3>
      <h4>{{ item.gender }}</h4>
      <button mat-raised-button color="primary" (click)="goToHome(item)" mat-raised-button>
        Enviar contacto
      </button>
    </div>
  </div>
</div>

<ng-template #elseTemplate>
  <p>Mostrando lista completa</p>
</ng-template>

<button routerLink="/dashboard" mat-button color="primary">Volver</button>
